.app_wrapper {
	display: grid;
	grid-template-columns: 30% 70%;
}
.app_wrapper--profile,
.app_wrapper--projects {
	padding-left: 1rem;
}

@media (max-width: 990px) {
	.app_wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	.app_wrapper--profile {
		display: none;
	}
}
