.app_wrapper {
	display: grid;
	grid-template-columns: 30% 70%;
}
.app_wrapper--profile,
.app_wrapper--projects {
	padding-left: 1rem;
}
.app_wrapper--projects {
	padding-right: 1rem;
}
.project-container {
	row-gap: 15px;
	display: grid;
	grid-template-columns: 1fr;
}

.comment-item {
  transition: opacity 0.3s ease-in-out;
}

.comment-item.deleting {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
}

@media (min-width: 767px) {
	.project-container {
		column-gap: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1296px) {
	.project-container {
		column-gap: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 990px) {
	.app_wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	.app_wrapper--profile {
		display: none;
	}
}
